{% extends 'main.html'%}

{% block content %}

<h1 class = "centered">Key List</h1>

<div class = "center-box simple_border">
    <table class="table-sortable">
        <thead>
            <tr>
                <th class = "th-sort-none">ID</th>
                <th class = "th-sort-none">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for key in keys %}
            <tr>
                <td class = "simple_border centered">{{key.id}}</td>
                <td>{{key.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% load static %}
    <script src="{% static 'scripts/tablesort.js' %}"></script>
</div>
{% endblock %}