.center-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;  
    align-items: center;
    
}

.vertical-box{
    display: inline-block;
}

<<<<<<< HEAD
=======
.medium_box{
    max-width: 500px;
    width: 500px;
}

.small_box{
    width: 200px;
}

.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spacer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 30px;
}
>>>>>>> 71e3968083c2cf415ed4c85c607f449032096368
