body{
    background-color: antiquewhite;
}

.simple_border{
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
}

.centered{
    text-align: center;
}

.center-box{
    display: flex;
    justify-content: center;
}

th {
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
  }

td{
    padding: 3px;
}


.table-sortable th {
	cursor: pointer;
}

.table-sortable .th-sort-none::after {
    content: "\2B81";
}

.table-sortable .th-sort-asc::after {
	content: "\2B61";
}

.table-sortable .th-sort-desc::after {
	content: "\2B63";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after,
.table-sortable .th-sort-none::after {
	margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
	background: rgba(0, 0, 0, 0.1);
}